/* Основні стилі для всього */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('Veluki.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Заголовок */
header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

header nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #34495e;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.3s, transform 0.2s;
}

header nav a:hover {
    background-color: #1abc9c;
    transform: scale(1.1);
}

/* Основний контент */
main {
    flex: 1;
    padding: 2rem;
}

/* Спеціальні стилі для реєстрації та входу */
section#register, section#login {
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 10px;
    margin: auto;
    max-width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Модальне вікно для реєстрації та входу */
.form-container {
    width: 100%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

/* Вхід та реєстрація поля вводу */
input[type="text"], input[type="password"], input[type="email"] {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f8f8f8;
}

/* Кнопки для відправки */
button[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #16a085;
}

/* Призначення для основних секцій */
section {
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

/* Призначення для основного контенту */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
}
